<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
    <title>Contacto</title>

    <!-- comentario: etiquetas META descriptiva para nuestro sitio web-->
    <meta charset='utf-8'><!-- Codificacion de documento para uso de caracteres-->
    <meta name='description' content='Laboratorio #1 HTML5-CSS3'>
    <meta name='keywords' content='HTML5,CSS3,JavaScript'>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts - Views/Login.js"></script>
    <link rel="shortcut icon" href="html5.png" />

    <link rel='stylesheet' href='css/styles.css'>
</head>

<body>
    <div id='page'>
        <header>
            <div id='logo'><img src="rsc/imgs/bot.png" alt="picture" width="190" /></div>
            <nav id='menu'>
                <ul>

                    <li><a href='index.html' title="INICIO">INICIO</a></li>
                    <li><a href='login.html' title="LOGIN">LOGIN</a></li>
                    <li><a href='contacto.html' title="CONTACTO">CONTACTO</a></li>
                </ul>
            </nav>
        </header>

        <section id='main'>

            <section id='contacto'>

                <div id='panel'>
                    <h2>PRODUCTOS</h2>
                    <div id="stage" style="height: 160px;">
                        <div id="spinner" style="transform-origin: 180px 0 0;">
                            <img style="transform: rotateY(0deg) translateX(100px);"
                                 src="rsc/pics/1.png" width="200" height="160" alt="">
                            <img style="transform: rotateY(-72deg) translateX(100px);"
                                 src="rsc/pics/2.png" width="200" height="160" alt="">
                            <img style="transform: rotateY(-144deg) translateX(100px);"
                                 src="rsc/pics/3.png" width="200" height="160" alt="">
                            <img style="transform: rotateY(-216deg) translateX(100px);"
                                 src="rsc/pics/4.png" width="200" height="160" alt="">
                            <img style="transform: rotateY(-288deg) translateX(100px);"
                                 src="rsc/pics/5.png" width="200" height="160" alt="">
                        </div>
                    </div>
                </div>

                <form action="" method="post" id='formulario' ng-controller="myController">
                    <h2>LOGIN</h2>
                    <input type="text" class='field' value='' placeholder='Identificacion' name='txtnombre' required ng-model="id" />
                    <br><br>
                    <input type="password" class='field' value='' placeholder='Contraseña' name='txttel' required ng-model="password"/>
                    <br><br>
                    
                   

                    
                    <button type="button" class="button button-primary" ng-click="log(id,password)">LOGIN</button>
                    
                    
                    <a href="register.html">
                        <button type="button" class="button button-primary">REGISTRARSE</button>
                    </a>
                            
                </form>
                
                
            </section>
        </section>


        <footer></footer>
    </div>

</body>
</html>











