<!DOCTYPE HTML>
<html ng-app="Register">
<head >
    <title>Register</title>

    <!-- comentario: etiquetas META descriptiva para nuestro sitio web-->
    <meta charset='utf-8'><!-- Codificacion de documento para uso de caracteres-->
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts - Views/Register.js"></script>
    <meta name='description' content='Laboratorio #1 HTML5-CSS3'>
    <meta name='keywords' content='HTML5,CSS3,JavaScript'>
    <link rel="shortcut icon" href="html5.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <link rel='stylesheet' href='css/styles.css'>
</head>

<body>
    <div id='page'>
        <header>
            <div id='logo'><img src="rsc/imgs/bot.png" alt="picture" width="190" /></div>
            <nav id='menu'>
                <ul>

                    <li><a href='index.html' title="INICIO">INICIO</a></li>
                    <li><a href='login.html' title="LOGIN">LOGIN</a></li>
                    <li><a href='contacto.html' title="CONTACTO">CONTACTO</a></li>
                </ul>
            </nav>
        </header>

        <section id='main'>

            <section id='registro'>
                    <form action="" method="post" ng-controller="registerController">
                        <center>
                            <h2>REGISTRO</h2>
                            <input type="number" class='field' value='' placeholder='Cedula' name='txtcedula' ng-model="cedula" required />
                            <br><br>
                            <input type="text" class='field' value='' placeholder='Nombre' name='txtnombre' ng-model="nombre" required />
                            <br><br>
                            <input type="text" class='field' value='' placeholder='Primer Apellido' name='txtapp1' ng-model="apellido1" required />
                            <br><br>
                            <input type="text" class='field' value='' placeholder='Segundo Apellido' name='txtapp2' ng-model="apellido2" required />
                            <br><br>
                            <input type="number" class='field' value='' placeholder='Telefono' name='txttel' ng-model="telefono" required />
                            <br><br>
                            <input type="password" class='field' value='' placeholder='Password' name='txtpass' ng-model="password" required />
                            <br><br>
                            <input type="text" class='field' value='' placeholder='Provincia' name='txtprovincia' ng-model="provincia" required />
                            <br><br>
                            <input type="text" class='field' value='' placeholder='Canton' name='txtcanton' ng-model="canton" required />
                            <br><br>
                            <input type="text" class='field' value='' placeholder='Distrito' name='txtdistrito' ng-model="distrito" required />
                            <br><br>
                            <input type="text" class='field' value='' placeholder='Direccion' name='txtdir' ng-model="direccion" required />
                            <br><br>
                            <input type="date" class='field' value='' placeholder='Fecha Nacimiento' name='txtFechaNac' ng-model="fecha" required />
                            <br><br>
                            
                            <button type="button" class="button button-primary" ng-click="register()">LOGIN</button>
                        </center>
                    </form>
                

            </section>
        </section>

        <footer></footer>
    </div>

</body>
</html>











